<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="partialUserResetForm">
                {% if __SELF__.code == null %}
                    {% partial __SELF__ ~ '::restore' %}
                {% else %}
                    {% partial __SELF__ ~ '::reset' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>