<div class="container-fluid banners">
    <div class="row space-bottom-2x">
        <div class="col-sm-12 text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur culpa eaque enim fuga hic non, provident tenetur vitae! Adipisci animi consectetur corporis dolorum, illo minima nesciunt obcaecati odit officiis reiciendis.</p>
        </div>
    </div>
    <div class="row space-bottom-2x">
        <div class="col-xs-4 space-bottom-2x">
            <a href="#"><img src="http://placehold.it/285x100" class="img-responsive img-rounded"></a>
        </div>
        <div class="col-xs-4 space-bottom-2x">
            <a href="#"><img src="http://placehold.it/285x100" class="img-responsive img-rounded"></a>
        </div>
        <div class="col-xs-4">
            <a href="#"><img src="http://placehold.it/285x100" class="img-responsive img-rounded"></a>
        </div>
    </div>
</div>