<footer id="footer">
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <p class="muted credit">OctoCart &copy; 2015 - {{ "now"|date("Y") }} Sozonov Alexey.</p></div>
            <div class="col-sm-6 text-right">
                <a href="#"><i class="fa fa-facebook-square"></i></a>
                <a href="#"><i class="fa fa-twitter-square"></i></a>
                <a href="#"><i class="fa fa-google-plus-square"></i></a>
            </div>
        </div>
    </div>
</footer>
