<div class="container">
    <div class="row space-bottom-2x">
        <div class="col-sm-12">
            <div class="owl-carousel owl-theme">
                <div class="item"><img class="img-responsive" src="http://placehold.it/1140x300" alt="Image 1"></div>
                <div class="item"><img class="img-responsive" src="http://placehold.it/1140x300" alt="Image 2"></div>
                <div class="item"><img class="img-responsive" src="http://placehold.it/1140x300" alt="Image 3"></div>
            </div>
            <hr>
        </div>
    </div>
</div>