{% for category in categories %}
    {% set productCount = category.product_count %}
    <li class="list-group-item {% if category.slug == currentCategorySlug %}active{% endif %}">
        <a href="{{ category.url }}">{{ category.title }}</a>
        {% if productCount %}
            <span class="badge">{{ productCount }}</span>
        {% endif %}

        {% if category.children.count %}
            <ul class="list-group table-of-contents">
                {% partial __SELF__ ~ "::items"
                    categories=category.children
                    currentCategorySlug=currentCategorySlug
                %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
