header#header a i.fa {
    font-size: 18px;
}

footer#footer a {
    font-size: 21px;
    color: #555;
}

.list-group .list-group {
    padding-left: 0;
    margin-bottom: 0px;
    margin-top: 10px;
}

.bx-wrapper {
    margin-bottom: 20px;
}

#bx-pager .col {
    margin-bottom: 10px;
}

#bx-pager a img {
    display: block;
    border: 1px solid #fff;
}

#bx-pager a.active img {
    border: 1px solid #ccc;
}

.spacer {
    padding: 20px;
}

.nav-tabs {
    margin-bottom: 10px;
}

.list-group-item.active > a, .list-group-item.active:focus > a, .list-group-item.active:hover > a {
    color: #fff;
}

.shopping-cart-qty {
    font-size: 10px;
    margin-top: -5px;
}

.space-bottom-1x {
    margin-bottom: 10px;
}