description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OctoCart - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Sozonov Alexey">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/apple-touch-icon.png'|theme }}" />
        {% styles %}
        <link href="{{ [
            'assets/css/octocart.css',
            'assets/css/custom.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body class="page-{{ this.page.id }}" style="padding-top: 81px;">

    <!-- Header -->
    {% partial "header" %}

    <!-- Page Content -->
    {% page %}

    <!-- Footer -->
    {% partial "footer" %}

    <!-- Scripts -->
    <script src="{{ [
        'assets/javascript/octocart.js',
        'assets/javascript/custom.js'
    ]|theme }}"></script>
    {% framework extras %}
    {% scripts %}

    </body>
</html>
