title = "Category"
url = "/categories/:slug/:page?"
layout = "default"
is_hidden = 0

[products]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
productsPerPage = 8
noProductsMessage = "No products found"
sortOrder = "created_at desc"
categoryPage = "category"
productDisplayPage = "product"

[categories menu]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "category"
==
function onEnd() {
    $slug = $this->param('slug');
    $category = Xeor\OctoCart\Models\Category::where('slug', $slug)->first();
    $this->page->title = $category->title;
}
==
<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="space-bottom-2x">{{ this.page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {% component 'menu' %}
        </div>
        <div class="col-md-10">
            <!-- Products -->
            {% component 'products' %}
        </div>
    </div>
</div>
