title = "Checkout"
url = "/checkout"
layout = "default"
is_hidden = 0

[checkout]
==
<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="margin-bottom: 20px;">Create Order</h1>
        </div>
    </div>
</div>
{% component 'checkout' %}