title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[products random]
pageNumber = 1
productsPerPage = 4
noProductsMessage = "No products found"
sortOrder = "random"
promote = 1

[categories menu]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "category"
==
<!-- Slider -->
{% partial "slider" %}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% component 'menu' %}
        </div>
        <div class="col-md-10">
            <!-- Banners -->
            {% partial 'banners' %}

            <!-- Products -->
            {% component 'random' %}
        </div>
    </div>
</div>