title = "Profile"
url = "/profile"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"

[orders]
==
<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>Profile</h1></div>
    </div>
    <div class="row">
        <div class="col-md-12">{% component 'account' %}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{% component 'orders' %}</div>
    </div>
</div>
